@import './base.css';

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: white;
}

button {
  background: #222;
  color: white;
  border: 1px solid #333;
  padding: 6px 10px;
  cursor: pointer;
}

button:hover {
  background: #333;
}
